# Secrets
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars.secret
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
